.footer {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	background-color: var(--oldBlue);
	color: var(--ceniza);
	font-size: 12px;
	text-align: center;
	padding: 1.5rem 2rem;
	margin: 0;

	&__svg {
		fill: var(--ceniza);
		@include sm {
			margin: 1rem .5rem;
			// width: 100%;
			width: 1rem;
			height: 1rem;
		}

		@include lg {
			width: 1.25rem;
			height: 1.25rem;
			margin: .5rem;
		}
	}

	a {
		color: var(--ceniza);
		text-decoration: underline;
	}
}